# Tibber Personal Access Token (Get it from developer.tibber.com)
TIBBER_TOKEN=your_token_here

# LaMetric Device Config
# Get the URL and Key from developer.lametric.com
LAMETRIC_URL=http://192.168.x.x:8080/api/v2/widget/update/com.lametric.diy.devwidget/your_widget_id
LAMETRIC_API_KEY=your_api_key_here
